ul {
  list-style: none;
  padding-left: 15px;

  li {
    margin-bottom: 25px;
    position: relative;

    &:before {
      background-color: $sun-yellow;
      border-radius: 50%;
      content: '';
      display: block;
      height: 8px;
      left: -15px;
      position: absolute;
      top: 7px;
      width: 8px;
    }
  }

  &.red-dots {
    li:before {
      background-color: $pastel-red;
    }
  }
}
