ul {
  list-style: none;
  padding-left: 15px;

  @include media-breakpoint-up(sm) {
    padding-left: 23px;
  }
}

.list-dotted-item {
  margin-bottom: 25px;
  position: relative;

  &:before {
    background-color: $sun-yellow;
    border-radius: 50%;
    content: '';
    display: block;
    height: 8px;
    left: -15px;
    position: absolute;
    top: .55em;
    width: 8px;

    @include media-breakpoint-up(sm) {
      left: -23px;
      top: .4em;
    }
  }

  .red-dots &:before {
    background-color: $pastel-red;
  }
}

