.modal.more-positions {
  font-size: 20px;

  a {
    color: $white;
  }

  li:before {
    background-color: $white;
  }

  .modal-content {
    height: 100vh;
  }

  .close {
    top: 13px;
    opacity: 1;
    position: relative;
  }
}
