$white: #fff;
$dark: #15162f;
$dark-grey-blue: #292c52;
$sun-yellow: #f9d026;
$pastel-red: #eb5b49;
$tomato: #ea3434;

// Bootstrap overrides
$warning: $sun-yellow;
$danger: $tomato;
$info: $dark-grey-blue;
$border-radius: 0;

$modal-transition: transform .1s ease-out !default;
$transition-fade: opacity .05s linear !default;

$link-color: $white;
$link-hover-color: $sun-yellow;
$link-hover-decoration: none;

$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge(
  (
    6: ($spacer * 4.5),
    7: ($spacer * 6),
    8: ($spacer * 7.5)
  ),
  $spacers
);
