footer {
  background-color: $dark-grey-blue;
  color: $white;
  font-size: .9em;
  position: relative;

  &:after {
    background-image: image-url('espuma-azuldown.svg');
    background-size: cover;
    content: '';
    display: block;
    height: 127px;
    position: absolute;
    right: 0;
    top: -127px;
    width: 162px;

    @include media-breakpoint-up(md) {
      height: 127px * 2;
      top: -127px * 2;
      width: 162px * 2;
    }
  }

  a {
    color: $sun-yellow;
  }
}

