---
title: michelada Jobs
---

<header class='bg-dark text-light pt-md-8'>
  <div class='container'>
    <div class='row'>
      <div class='offset-md-2 col-md-8 px-4 pb-5'>
        <h1>Sr. Full-stack Ruby Developer</h1>
        <h4 class='location'>Guadalajara</h4>

        <section class='mt-5'>
          <div class='section-title'><b>Necesitamos:</b></div>
          <p>
            Developer con experiencia en desarrollo web con Ruby y tecnologías relacionadas, que sea autosuficiente, 
            le guste trabajar en equipo o liderar uno, que tenga ganas de aprender, compartir su experiencia con sus compañeros y busque hacer una diferencia en su lugar de trabajo.
          </p>
        </section>
      </div>
    </div>
  </div>
</header>
<section class='container px-4 pt-5'>
  <div class='row'>
    <section class='offset-md-2 col-md-8'>
      <div class='section-title mb-2'><b>Habilidades:</b></div>
      <ul>
        <li class="list-dotted-item">
          4+ años de experiencia desarrollando, manteniendo y liberando aplicaciones web en Ruby/Rails o frameworks similares.
        </li>
        <li class="list-dotted-item">
          Haber integrado tecnologías de Front-end ej. JavaScript, React, Vue, Angular y CSS.
        </li>
        <li class="list-dotted-item">
          Ser consumidor/desarrollador de servicios REST.
        </li>
        <li class="list-dotted-item">
          Experiencia en entrega de proyectos para producción (deployments, CI/CD, Server provisioning, DBA and Devops).
        </li>
        <li class="list-dotted-item">
          Toma de decisiones ej. como product owner, tech lead o project manager.
        </li>
        <li class="list-dotted-item">
          Haber trabajado directamente en equipos remotos y con personas no técnicas (diseñadores, product owners, project managers).
        </li>
        <li class="list-dotted-item">
          Experiencia construyendo sistemas usando metodologías ágiles.
        </li>
        <li class="list-dotted-item">
          Tener conocimientos de arquitectura de software y refactorizaciones.
        </li>
        <li class="list-dotted-item">
          Tener buenos principios de desarrollo, así como experiencia haciendo pruebas, programación orientada a objetos, principios SOLID y clean architecture.
        </li>
        <li class="list-dotted-item">
          Excelentes habilidades de comunicación oral/escrita en español y en inglés.
        </li>
      </ul>
    </section>
    <section class='offset-md-2 col-md-8'>
      <div class='section-title mb-2'><b>Idealmente, buscamos:</b></div>
      <ul>
        <li class="list-dotted-item">
          Alguien apasionado por la calidad en el código, que busque crecer profesionalmente y mejorar junto a sus compañeros.
        </li>
        <li class="list-dotted-item">
          Un developer que le guste compartir su conocimiento, ya sea como mentor o como aprendiz.
        </li>
        <li class="list-dotted-item">
          Alguien enfocado en resolver los problemas de la forma más eficiente y eficaz.
        </li>
        <li class="list-dotted-item">
          Una persona con compromiso y excelente atención a los detalles, que se preocupe por su trabajo de inicio a fin.
        </li>
        <li class="list-dotted-item">
          Alguien con una buena comprensión de usabilidad e interfaces.
        </li>
      </ul>
    </section>
  </div>
</section>
<section class='bg-warning'>
  <div class='container'>
    <div class='row'>
      <div class='offset-md-2 col-md-8 p-4 pt-5 pb-8 pb-lg-4'>
        <div class='section-title mb-2'><b>Ofrecemos:</b></div>
        <ul class='red-dots'>
          <li class="list-dotted-item">
            <b>Salario competitivo.</b>
          </li>
          <li class="list-dotted-item">
            <b> El mejor ambiente de trabajo. </b>
          </li>
          <li class="list-dotted-item">
            <b> Te proporcionamos lo que necesites para trabajar. </b>
          </li>
          <li class="list-dotted-item">
            <b> Snacks en oficina. </b>
          </li>
          <li class="list-dotted-item">
            <b> Contrato por tiempo indefinido. </b>
          </li>
          <li class="list-dotted-item">
            <b> Capacitación.</b>
          </li>
          <li class="list-dotted-item">
            <b> Seguro de gastos médicos mayores.</b>
          </li>
          <li class="list-dotted-item">
            <b> Gimnasio.</b>
          </li>
          <li class="list-dotted-item">
            <b> Periodo vacacional superior al establecido por la Ley.</b>
          </li>
          <li class="list-dotted-item">
            <b> Todas las prestaciones de Ley.</b>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
