---
title: michelada Jobs
---

<header class='bg-dark text-light'>
  <div class='container'>
    <div class='row'>
      <div class='col px-4 pb-5'>
        <h1>Sr. Full-stack Ruby Developer</h1>
        <h4 class='location'>Guadalajara</h4>

        <section class='mt-5'>
          <div class='section-title'><b>Necesitamos:</b></div>
          <p>
          Developer con experiencia en desarrollo web con ruby y tecnologías relacionadas, que sea autosuficiente, le guste trabajar en equipo o liderar uno, con ganas de aprender y compartir su experiencia con su compañeros y que busque hacer una diferencia en su lugar de trabajo.
          </p>
        </section>
      </div>
    </div>
  </div>
</header>
<section class='container px-4 pt-3'>
  <section>
    <div class='section-title mb-2'><b>Habilidades:</b></div>
    <ul>
      <li class="list-dotted-item">
        4+ años de experiencia desarrollando, manteniendo y liberando aplicaciones web en ruby/rails o frameworks similares.
      </li>
      <li class="list-dotted-item">
        Experiencia integrando tecnologias de frontend ex. JavaScript, React, Vue, Angular, CSS, etc.
      </li>
      <li class="list-dotted-item">
        Experiencia desarrollando/consumiendo servicios REST.
      </jli>
      <li class="list-dotted-item">
        Experiencia en entrega de proyectos para producción (deployments, CI/CD, Server provisioning, DBA and Devops).
      </li>
      <li class="list-dotted-item">
        Experiencia tomando decisiones ex. como product owner, tech lead, project manager, etc.
      </li>
      <li class="list-dotted-item">
        Experiencia trabajando directamente en equipos remotos y con personas no técnicas (diseñadores, product owners, project managers, etc).
      </li>
      <li class="list-dotted-item">
        Experiencia construyendo sistemas usando metodologías ágiles.
      </li>
      <li class="list-dotted-item">
        Tener conocimientos de arquitectura de software y refactorizaciones.
      </li>
      <li class="list-dotted-item">
        Tener buenos principios de desarrollo, incluyendo experiencia haciendo pruebas, programación orientada a objetos, principios SOLID y clean architecture.
      </li>
      <li class="list-dotted-item">
        Excelentes habilidades de comunicación oral/escrita tanto en español como inglés.
      </li>
    </ul>
  </section>
  <section>
    <div class='section-title mb-2'><b>Idealmente, buscamos:</b></div>
    <ul>
      <li class="list-dotted-item">
        Alguien apasionado por la calidad en el código, que busque crecer y buscar formas de mejorar junto a sus compañeros.
      </li>
      <li class="list-dotted-item">
        Alguien que le guste compartir su conocimiento, ya sea como mentor o como aprendiz.
      </li>
      <li class="list-dotted-item">
        Alguien enfocado en resolver los problemas de la forma más eficiente y eficaz.
      </li>
      <li class="list-dotted-item">
        Alguien con compromiso y excelente atención a los detalles, que se preocupe por su trabajo de inicio a fin.
      </li>
      <li class="list-dotted-item">
        Alguien con una buena comprensión de usabilidad e interfaces.
      </li>
    </ul>
  </section>
</section>
<section class='bg-warning'>
  <div class='container'>
    <div class='row'>
      <div class='col p-4 pb-8 pb-lg-4'>
        <div class='section-title mb-2'><b>Ofrecemos:</b></div>
        <ul class='red-dots'>
          <li class="list-dotted-item">
            <b> Nivel salarial competitivo.  </b>
          </li>
          <li class="list-dotted-item">
            <b> El mejor ambiente de trabajo. </b>
          </li>
          <li class="list-dotted-item">
            <b> Te proporcionamos lo que necesites para trabajar. </b>
          </li>
          <li class="list-dotted-item">
            <b> Snacks en oficina. </b>
          </li>
          <li class="list-dotted-item">
            <b> Contrato por tiempo indefinido. </b>
          </li>
          <li class="list-dotted-item">
            <b> Capacitación.</b>
          </li>
          <li class="list-dotted-item">
            <b> Seguro de Gastos médicos mayores.</b>
          </li>
          <li class="list-dotted-item">
            <b> Gimnasio.</b>
          </li>
          <li class="list-dotted-item">
            <b> Periodo vacacional superior al establecido por la Ley.</b>
          </li>
          <li class="list-dotted-item">
            <b> Todas las prestaciones de Ley.</b>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
